html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

i{
    color: #ddd;
}

body{
    background-color: #3b444b;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
}

#welcome{
     background-color:#232b2b; 
     margin: 0;
     max-height: 450px;
}

#header, h1{
    font-family: 'Cinzel', serif;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Aqui, falarei da navbar */
#navbar{
    background-color: #232b2b;
    margin-top: 0px;
    
}
#navbar a{
    text-decoration: none;
    color: white;
}

#myProgress {
    width: 90%;
    background-color: #414a4c;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #810000;
    
}

#progress-container text{
    justify-content: center;
    margin: auto;
}

#progress-container{
    padding: 50px;
}

/* Seção de gráficos */
@media(min-width: 768px){
    i{
        display: none !important;
    }
}

@media(min-width: 500px){

    
    #container{
        height:400px !important;
        width: 70vw;
        margin: auto;
    }
    #convite{
        z-index: 1050;
        height: 300px !important;
        margin: auto;
        background-color:#232b2b;
        border-radius: 10px;
        opacity: 0.6;
        text-align: center;
        position: relative;
        top: -350px !important; 
    }
}

@media(max-width: 500px){
    #welcome{
        display: none;
    }
    #container{
        height:300px !important;
        width: 70vw;
        margin: auto;
    }


    #convite{
        z-index: 1050;
        min-height: 200px;
        margin: auto;
        background-color:#232b2b;
        border-radius: 10px;
        opacity: 0.6;
        text-align: center;
        top: -225px !important;
        position: relative;
    }
}

#myChart{
    position: relative;
    /* vertical-align: middle; */
    text-align: center;
    
}

.blurred{
    filter: blur(2px);
}
.row{
    margin: 15px;
}


#myForm{
    text-align: center;
    margin: 30px;
}

#addButton{
    background-color: #810000;
}
#submit{
    margin: 20px;
}
.hidden{
    display: none !important;
}

